body.home {
	#welcome {
		width:100%;
    height: calc(80vh - 60px);
		margin: 0;
		.inner {
			background-image: url(../images/welcome_img_sp.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			height: 100%;
			width: 100%;
      position: relative;

      .text-box {
        position: absolute;
        bottom: 10px;
        left: 20px;
        .txt {
          display: flex;
          overflow: hidden;
          p {
            color: #2741A5;
            font-size: 40px;
            font-weight: bold;
            letter-spacing: .06em;
            margin: 0;
            line-height: 50px;
        
            /* ここからアニメーション関係 */
            transform: translateY(2em);
            animation: textanimation 1s forwards;
          }
        }
        /* 1文字目 */
        .top p:nth-child(1) {
          animation-delay: 0.2s
        }
        /* 2文字目 */
        .top p:nth-child(2) {
          animation-delay: 0.4s
        }
        /* 3文字目 */
        .top p:nth-child(3) {
          animation-delay: 0.6s
        }
        /* 4文字目 */
        .top p:nth-child(4) {
          animation-delay: 0.8s
        }
        /* 5文字目 */
        .top p:nth-child(5) {
          animation-delay: 1s
        }
        /* 6文字目 */
        .top p:nth-child(6) {
          animation-delay: 1.2s
        }
        /* 7文字目 */
        .bottom p:nth-child(1) {
          animation-delay: 1.6s
        }
        /* 8文字目 */
        .bottom p:nth-child(2) {
          animation-delay: 1.8s
        }
        /* 9文字目 */
        .bottom p:nth-child(3) {
          animation-delay: 2.0s
        }
        /* 10文字目 */
        .bottom p:nth-child(4) {
          animation-delay: 2.2s
        }
        /* 11文字目 */
        .bottom p:nth-child(5) {
          animation-delay: 2.4s
        }
        /* 12文字目 */
        .bottom p:nth-child(6) {
          animation-delay: 2.6s
        }
        /* 12文字目 */
        .bottom p:nth-child(7) {
          animation-delay: 2.8s
        }
      }

      @keyframes textanimation {
        0% {
          transform: translateY(2em);
        }
        100% {
          transform: translateY(0);
        }
      }
		}
	}

  #message {
    .inner {
      background-image: url('../images/background.jpg');
      padding-top: 50px;
      padding-bottom: 50px;
      
      .message-text {
        margin-bottom: 30px;
      }
    }
  }

  #contents {
    .contents-box {
      &:not(:last-child) {
        margin-bottom: 80px;
      }

      .section-title {
        h3 {
          text-align: center;
          figure {
            margin-bottom: -5px;
            img {
              width: auto;
              height: 30px;
            }
          }
          small {
            font-size: 13px;
            letter-spacing: 1px;
            font-style: italic;
            color: #011976;
          }
        }
      }

      .posts {
        margin-bottom: 30px;

        .my-medical-swiper {
          visibility: hidden;
        }
        .my-medical-swiper.swiper-initialized {
          visibility: visible;
        }
        .swiper-wrapper {
          padding-bottom: 20px;
          .swiper-slide {
            .background {
              box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
              border-radius: 10px;
              background: #fff; /* 白背景推奨 */

              img {
                width: 100%;
              }
    
              .text-box {
                padding: 0 20px 20px;
                .slide-title {
                  color: black;
                  font-weight: bold;
                  font-size: 17px;
                  line-height: 1.5em;
                  margin: 20px 0 10px;
                }
                .slide-excerpt {
                  font-size: 15px;
                  color: black;
                  line-height: 1.5em;
                  margin-bottom: 10px;
                }
                .slide-taxonomy {
                  display: inline;
                  padding: 7px 10px;
                  font-size: 11px;
                  border-radius: 100px;
                  color: white;
                }
                .parent01-color {
                  background: #1958AB;
                }
                .parent02-color {
                  background: #FA8A85;
                }
                .parent03-color {
                  background: #74B691;
                }
              }
            }
          }
        }
      }
    }
    
  }

  #news {
    background: #F5F5F5;
    margin-bottom: 0;
    .container {
      padding: 50px 30px;

      .text-box {
        h3 {
          text-align: center;
          figure {
            margin-bottom: 10px;
            img {
              height: 50px;
              width: auto;
            }
          }
          span {
            font-size: 20px;
            color: #011976;
          }
        }
        .pc-view {
          display: none;
        }
      }

      .news-box {
        ul {
          padding: 0;
	        margin-bottom: 40px;
          li {
            border-bottom: 1px solid #001050;
            a {
              display: block;
              padding: 13px 10px 13px;
              position: relative;
              color: #001050;
              
              date {
                font-size: 13px;
                color: #001050;
                text-decoration: none;
              }
              // span.label {
              //   font-size: 12px;
              //   color: $white;
              //   padding: 5px 10px;
              //   margin-left: 6px;
              //   background: black;
              // }
              span.text {
                display: block;
                margin-top: 10px;
              }
              &::after {
                font-family: FontAwesome;
                content: "\f105";
                font-size: 20px;
                position: absolute;
                right: 1rem;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                color: #001050;
              }
              @media (hover: hover) {
                &:hover {
                  background: rgba(#011976, .05);
                  text-decoration: none;
                  transition: 0.3s;
                }
              }
            }
          }
        }
      }
    }
	}

  @include breakpoint(medium-up) {
    #welcome {
      height: calc(50vh - 60px);
      .inner {
        background-image: url(../images/welcome_img_pc.jpg);
        .text-box {
          bottom: 30px;
          left: 40px;
          .txt {
            p {
              font-size: 50px;
              line-height: 60px;
            }
            
          }
        }
      }
    }

    #message {
      .inner {
        padding-top: 60px;
        padding-bottom: 60px;
        .message-text {
          width: 500px;
          margin: 0 auto;
          margin-bottom: 50px;
          h3 {
            width: 370px;
            margin: 0 auto;
            margin-bottom: 30px;
          }
          .text-area {
            p {
              text-align: center;
              span {
                display: block;
              }
            }
          }
        }
      }
      
    }

    #contents {
      .contents-box {
        &:not(:last-child) {
          margin-bottom: 130px;
        }
        .section-title {
          margin-bottom: 40px;
        }
        .posts {
          .swiper-wrapper {
            padding-bottom: 20px;
            .swiper-slide {
              .background {
                .text-box {
                  padding: 0 30px 25px;
                }
              }
            }
          }
        }
      }
    }

    #news {
      .container {
        padding: 70px 60px;
        margin: 0 auto;
        max-width: 900px;
      }
      .flex-box {
        display: flex;
        justify-content: space-between;

        .text-box {
          width: 35%;
          h3 {
            text-align: left;
            margin-bottom: 30px;
            figure {
              text-align: left;
              margin-bottom: 15px;
            }
          }
          .pc-view {
            display: block;
            a {
              margin: 0;
            }
          }
        }

        .news-box {
          width: 62%;
          .news-list {
            margin: 0;
          }
        }
        
        .sp-view {
          display: none;
        }
      }
    }
  }

  @include breakpoint(large-up) {
    #welcome {
      height: calc(70vh - 60px);
    }

    #message {
      .text-area {
        p {
          font-size: 17px;
        }
      }
    }
  }
  
}

