// 固定ページ用 最新ニュース一覧
// ----------

#library-section-title {
  height: 130px;
  margin-bottom: 50px;
  background: linear-gradient(140deg, #011976, #0092E6);
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;
    margin: 0%;
  }
}

ul.article_list {
	li {
		margin-bottom: 20px;

		a {
			.news-contents {
				background: #f7f7f7;
				border: 1px solid #f7f7f7;
				border-radius: 5px;
				padding: 20px;
				.label {
					display: inline-block;
					font-size: 13px;
					background: #011976;
					color: white;
					padding: 3px 15px;
					border-radius: 40px;
					margin-right: 10px;
					margin-bottom: 10px;
				}
				time {
					color: #666666;
				}
				h3 {
					color: black;
					font-size: 17px;
					margin: 15px 0 10px;
				}
				.excerpt {
					color: #666666;
					margin-bottom: 10px;
				}
				span.readmore {
					display: block;
					text-align: right;
					font-size: 14px;
					padding-right: 16px;
						position: relative;
					&::after {
						font-family: FontAwesome;
						content: "\f101";
						position: absolute;
						right: 0px;
					}
				}
				@media (hover: hover) {
					&:hover {
						border: 1px solid #011976;
						transition: all 0.3s;
					}
				}
			}
		}
	}
}

.pagination {
	text-align: center;
	margin: 30px 0;
	font-family: sans-serif;

	a, span {
		display: inline-block;
		width: 40px;        /* 横幅 */
		height: 40px;       /* 高さ */
		line-height: 40px;  /* テキストを中央に */
		margin: 0 3px;
		border-radius: 50%; /* 丸ボタン */
		background-color: #f0f0f0;
		color: #333;
		text-align: center; /* 横中央 */
		text-decoration: none;
		transition: background 0.3s, color 0.3s;
		font-size: 16px;
	}

	a:hover {
		background-color: #0092E6;
		color: #fff;
	}
	.current {
		background-color: #0092E6;
		color: #fff;
		font-weight: bold;
		pointer-events: none; /* クリック不可 */
	}
}

@include breakpoint(medium-up) {
	.container {
		margin-bottom: 80px;
	}
	ul.article_list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 20px;
		li {
			width: calc(calc(100% - 20px) / 2);
		}
	}
}

@include breakpoint(large-up) {
	ul.article_list {
		li {
			width: calc(calc(100% - 40px) / 3);
		}
	}
}
	
	


