ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

main {
  padding-top: 60px;
}

.container {
  padding: 0 30px;

  @include breakpoint(medium-up) {
    padding: 0 60px;
		max-width: 1200px;
		margin: 0 auto;
  }
}

section {
  margin-bottom: 80px;

	@include breakpoint(medium-up) {
		margin-bottom: 130px;
	}
}

#section-message {
	margin-bottom: 50px;
}

.fadein {
	opacity: 0;
	transform: translate(0, 20px);
	transition: all 1.5s;

	&.right {
		transform: translate(-80px, 0);
	}

	&.left {
		transform: translate(80px, 0);
	}

	&.slidein {
		opacity: 1;
		transform: translate(0, 0);
	}
}