ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

main {
  padding-top: 60px;
}

.container {
  padding: 0 30px;

  @include breakpoint(medium-up) {
    padding: 0 60px;
  }
}

.section {
  margin-bottom: 50px;
}