#global-footer {
  .contact {
    background-image: url('../images/footer_background.jpg');
    background-size: cover;
    .container {
      padding: 50px 30px;
      .text-area {
        margin-bottom: 30px;
        p {
          font-size: 22px;
          color: white;
          font-weight: bold;
          line-height: 32px;
        }
      }
      .contact-button {
        a {
          background: white;
          border-radius: 5px;
          padding: 20px;
          border-radius: 100px;
          width: 300px;
          display: block;
          position: relative;
          margin: 0 auto;

          &::after {
            font-family: FontAwesome;
            content: "\f105";
            font-size: 20px;
            position: absolute;
            right: 1.5rem;
            top: 50%;
            color: #011976;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }

          .flex-box {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              margin-bottom: 0;
              margin-right: 10px;
            }
            span {
              font-weight: bold;
              color: #011976;
              margin-right: 20px;
              font-size: 15px;
            }
          }

          @media (hover: hover) {
            &:hover {
              background: #011976;
              transition: all 0.3s;

              &::after {
                color: white;
                transition: all 0.3s;
              }
              svg {
                g {
                  path {
                    fill: white;
                    transition: all 0.3s;
                  }
                }
              }
              span {
                color: white;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }

  .top {
    .container {
      padding: 50px 30px;

      h1 {
        text-align: center;
        margin-bottom: 30px;
        a {
          display: inline-block;
          .logo {
            img {
              width: 200px;
            }
          }
        }
      }

      .company-link {
        &:first-child {
          margin-bottom: 30px;
        }
        p {
          border-bottom: 1px dotted;
          padding-bottom: 5px;
          margin-bottom: 10px;
          font-weight: bold;
          color: #001050;
        }
        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 5px;
            }
            a {
              font-size: 15px;
              color: #001050;
            }
          }
        }
      }
    }
  }

  .bottom {
		background: #F7F7F7;
    text-align: center;
    font-size: 10px;
    padding: 10px;
	}

  @include breakpoint(medium-up) {
    .contact {
      .container {
        padding: 50px 60px 30px;
        max-width: 900px;
        .text-area {
          margin-bottom: 50px;
          p {
            text-align: center;
            span {
              display: block;
            }
          }
        }
      }
    }

    .top {
      .container {
        .flex-box {
          display: flex;
          justify-content: space-between;
          .left {
            width: 40%;
          }

          .right {
            width: 50%;
            display: flex;
            justify-content: space-between;
            .company-link {
              width: 48%;
              margin: 0;

              ul {
                li {
                  a {
                    @media (hover: hover) {
                      &:hover {
                        color: #0092E6;
                        transition: all 0.3s;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}