// カスタム投稿 一覧・詳細
// ----------

body.page-template-pages {
  #section-title {
    background-size: cover;
    height: 130px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  
    h2 {
      margin: 0;
      font-size: 25px;
      position: relative;
      padding-left: 1.1em;
      color: #011976;
  
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: #011976;
      }
    }
  }

  #section-contents-list {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: calc((100% / 2) - 10px);
        border: 0.5px solid #bcbcbc;
        border-radius: 5px;
        margin-bottom: 20px;
        a {
          padding: 15px 20px 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          figure {
            margin-bottom: 10px;
            img {
              width: 90%;
            }
          }
          p {
            display: flex;
            align-items: center;
            text-align: center;
            color: #001050;
            font-weight: bold;
            font-size: 13px;
            line-height: 17px;
            min-height: 40px;
          }
        }
      }
    }
  }

  .category-icon {
    text-align: center;
    margin-bottom: 50px;

    figure {
      width: 150px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    p {
      color: #001050;
      font-weight: bold;
    } 
  }

  #section-post {
    .title-label {
      background-image: linear-gradient(
        45deg,                     /* 斜め 45 度 */
        rgba(1, 25, 118, 0.1),      /* 左上：赤半透明 */
        rgba(0, 146, 230, 0.1)       /* 右下：青半透明 */
      );
      margin-bottom: 50px;

      h3 {
        text-align: center;
        padding: 20px 0;
        color: #011976;
        font-size: 25px;
      }
    }

    .posts {
      margin-bottom: 30px;

      .my-medical-swiper {
        visibility: hidden;
      }
      .my-medical-swiper.swiper-initialized {
        visibility: visible;
      }
      .swiper-wrapper {
        padding-bottom: 20px;
        .swiper-slide {
          .background {
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            background: #fff; /* 白背景推奨 */

            img {
              width: 100%;
            }
  
            .text-box {
              padding: 0 20px 20px;
              .slide-title {
                color: black;
                font-weight: bold;
                font-size: 17px;
                line-height: 1.5em;
                margin: 20px 0 10px;
              }
              .slide-excerpt {
                font-size: 15px;
                color: black;
                line-height: 1.5em;
                margin-bottom: 10px;
              }
              .slide-taxonomy {
                display: inline;
                padding: 7px 10px;
                font-size: 11px;
                border-radius: 100px;
                color: white;
              }
            }
          }
        }
      }
    }

    .default-button {
      .button-more {
        padding: 20px 15px;
      }
    }
  }

  #section-message {
    @include breakpoint(medium-up) {
      text-align: center;
      margin: 80px 0;
      p {
        line-height: 30px;
        span {
          display: block;
        }
      }
    }
  }

  @include breakpoint(medium-up) {
    #section-title {
      height: 200px;
    }

    #section-contents-list {
      ul {
        li {
          width: calc((100% / 4) - 20px);
          a {
            padding: 20px 20px 10px;
            figure {
              img {
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
}

body.page-template-medical,
body.parent-pageid-34 {

  #section-title {
    background-image: url("../images/medical/title_background.svg");
  }

  .posts {
    .swiper-wrapper {
      .swiper-slide {
        .background {
          .text-box {
            .child01-color {
              background: #1958AB;
            }
          }
        }
      }
    }
  }

  @include breakpoint(medium-up) {
    #section-contents-list {
      ul {
        li {
          @media (hover: hover) {
            &:hover {
              border: 1px solid #011976;
              background: rgba(0, 146, 230, 0.07);
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}


body.page-template-healthcare,
body.parent-pageid-52 {
  #section-title {
    background-image: url("../images/healthcare/title_background.svg");
  }

  .posts {
    .swiper-wrapper {
      .swiper-slide {
        .background {
          .text-box {
            .child01-color {
              background: #FA702C;
            }
          }
        }
      }
    }
  }

  @include breakpoint(medium-up) {
    #section-contents-list {
      ul {
        justify-content: space-evenly;
        li {
          @media (hover: hover) {
            &:hover {
              border: 1px solid #011976;
              background: rgba(250, 112, 44, 0.07);
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}

body.page-template-skill {
  #section-title {
    background-image: url("../images/skill/title_background.svg");
  }

  .posts {
    .swiper-wrapper {
      .swiper-slide {
        .text-box {
          .slide-excerpt {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

body.page-template-webinar {
  #section-title {
    background-image: url("../images/webinar/title_background.svg");
  }

  .posts {
    .swiper-wrapper {
      .swiper-slide {
        .text-box {
          .slide-excerpt {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

body.page-template-info-material,
body.parent-pageid-82 {
  #section-title {
    background-image: url("../images/material/title_background.svg");
  }

  .posts {
    .swiper-wrapper {
      .swiper-slide {
        .background {
          .text-box {
            .child01-color {
              background: #6F43AB;
            }
          }
        }
      }
    }
  }

  @include breakpoint(medium-up) {
    #section-contents-list {
      ul {
        justify-content: space-evenly;
        li {
          @media (hover: hover) {
            &:hover {
              border: 1px solid #011976;
              background: rgba(111, 67, 171, 0.07);
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}


